-r requirements.txt

# Docs
mkdocs==1.1.2
mkdocs-material==5.4.0
pymdown-extensions==7.1

# Packaging
bump2version==1.0.0
pip-tools==5.2.1

# Lint
black==19.10b0
flake8==3.8.3
isort==5.0.8
mypy==0.782

# Security
bandit==1.6.2

# Test
coverage==5.2
nose2==0.9.2
tox==3.16.1
